<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/readmore.css">
  <link rel="stylesheet" href="/home.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title></title>
</head>
<body bgcolor="white">
  <div class="header" id="navbar">
<div class="logo"><h2>Topic</h2></div>
<% if(user) { %>
  <a href="/logout"> <div class="head-btn">Logout</div></a>
  </div>
<div class="footer">
  <a href="/"><font color="grey"><i class="material-icons">home</i></font></a>
  <a href="/createblog/<%=user._id%>"><font color="grey"><i class="material-icons">person</i></font></a>
   <a href="#"><font color="grey"><i class="material-icons">brightness_4</i></font></a>
  <a href="#"><font color="grey"><i class="material-icons">error</i></font></a>
</div>

  <div class="float-btn"><a href="/createblog/<%=user._id%>"><i class="material-icons">edit</i></a></div>
<% } else { %>
  <a href="/login"> <div class="head-btn">Login</div></a>
  </div>
<div class="footer">
  <a href="/"><font color="grey"><i class="material-icons">home</i></font></a>
  <a href="/login"><font color="grey"><i class="material-icons">person</i></font></a>
   <a href="#"><font color="grey"><i class="material-icons">brightness_4</i></font></a>
  <a href="#"><font color="grey"><i class="material-icons">error</i></font></a>
</div>

  <div class="float-btn"><a href="/login"><i class="material-icons">edit</i></a></div>
  <% } %>

<!----------WORK SPACE FOR BACKEND---------->
<br><br><br>
<div class="container">
  <div class="card">
    <div class="card-content1">
   <h2><%=blog.topic%></h2><br><br>
   <b><%=blog.user.name%></b><br>
   <font color="grey"><%=blog.createdAt%></font><br>
   <font color="#00bfa5"><i class="material-icons">favorite</i>
   <br> <b>33265 likes</b><br></font><br><hr color="#00bfa5" size="1">
 </div>
<img src=<%=blog.blogimage%> height="300px" width="100%"><br><br>
   <div class="card-content2">
   <p><b><%=blog.snippet%></b></p>
   <br><p><%=blog.content%></p>
<br><br>
  <font size="15px" color="#00bfa5"><i class="material-icons">favorite</i></font>   </div>
  </div>
  </div>
<br><br>

 








<br><br><br><br><br>

</body>
</html>