<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/home.css">
  <link rel="icon" href="favicon.png" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
  <script defer src="/Javascripts/darkmode.js"></script>
  <title>Welcome to Blogpost</title>
</head>
<body bgcolor="white">
  <div class="header" id="navbar">
<div class="logo"><h2>Topic</h2></div>
<% if(user) { %>
  <a href="/logout"> <div class="head-btn">Logout</div></a>
  </div>
<div class="footer">
  <a href="/"><font color="grey"><i class="material-icons">home</i></font></a>
  <a href="/createblog/<%=user._id%>"><font color="grey"><i class="material-icons">person</i></font></a>
   <a href="#"><font color="grey">
     <div class="theme-switch-wrapper">
       <label class="theme-switch" for="checkbox">
    <input type="checkbox" id="checkbox" />
    <div class="slider round"></div>
  </label>
  </div>



   </i></font></a>
  <a href="https://github.com/PnCodeBreaker/BlogPost"><font color="grey"><i class="material-icons">error</i></font></a>
</div>

  <div class="float-btn"><a href="/createblog/<%=user._id%>"><i class="material-icons">edit</i></a></div>
<% } else { %>
  <a href="/login"> <div class="head-btn">Login</div></a>
  </div>
<div class="footer">
  <a href="/"><font color="grey"><i class="material-icons">home</i></font></a>
  <a href="/login"><font color="grey"><i class="material-icons">person</i></font></a>
  <a href="#"><font color="grey">
     <div class="theme-switch-wrapper">
       <label class="theme-switch" for="checkbox">
    <input type="checkbox" id="checkbox" />
    <div class="slider round"></div>
  </label>
  </div>



   </i></font></a>
  <a href="https://github.com/PnCodeBreaker/BlogPost"><font color="grey"><i class="material-icons">error</i></font></a>
</div>

  <div class="float-btn"><a href="/login"><i class="material-icons">edit</i></a></div>
  <% } %>

<!----------WORK SPACE FOR BACKEND---------->
<br><br><br>
<div class="container">
  <div class="card">
    <div class="card-content1">
   <h2><%=blog.topic%></h2><br><br>
   <b><%=blog.user.name%></b><br>
   <font color="grey"><%=blog.createdAt%></font><br>
   <%  if(user) {
    if(blog.likes.includes(user._id)) { 
    %>   
    <form action="/unlike" method="POST">
      <input type="hidden" name="blogId" value="<%=blog._id%>" readonly required>
      <input type="hidden" name="userId" value="<%=user._id%>" readonly required>
      <button class="favorite" type="submit"><i class="material-icons">favorite</i></button></form>
   <% } else { %>
    <form action="/like" method="POST">
      <input type="hidden" name="blogId" value="<%=blog._id%>" readonly required>
      <input type="hidden" name="userId" value="<%=user._id%>" readonly required>
      <button class="favorite" type="submit"><i class="material-icons">favorite_border</i></button></form>
    <% } } else { %>
      <a class="favorite" href="/login"><i class="material-icons">favorite_border</i></form></a>
      <% } %>
   <br> <b><%=blog.likes.length%> likes</b><br></font><br><hr color="#00bfa5" size="2"><br>
 </div>
 <% if(blog.blogimagePath) { %>
<img src=<%=blog.blogimagePath%> height="300px" width="100%"><br><br>
<% } %>
   <div class="card-content2">
   <p><b><%=blog.snippet%></b></p>
   <br><div style="white-space: pre-line;"><%-blog.content%></div>
<br><br>
<%  if(user) {
  if(blog.likes.includes(user._id)) { 
  %>   
  <form action="/unlike" method="POST">
    <input type="hidden" name="blogId" value="<%=blog._id%>" readonly required>
    <input type="hidden" name="userId" value="<%=user._id%>" readonly required>
    <button type="submit"><font size="15px" color="#00bfa5"><i class="material-icons">favorite</i></font></button></form>
 <% } else { %>
  <form action="/like" method="POST">
    <input type="hidden" name="blogId" value="<%=blog._id%>" readonly required>
    <input type="hidden" name="userId" value="<%=user._id%>" readonly required>
    <button type="submit"><font size="15px" color="#00bfa5"><i class="material-icons">favorite_border</i></font></button></form>
  <% } } else { %>
    <a style="color:#00bfa5;" href="/login"><i class="material-icons">favorite_border</i></form></a>
    <% } %>
    <br> <b><%=blog.likes.length%> likes</b><br></font><br><hr color="#00bfa5" size="1">
  </div>
  </div>
  </div>
<br><br><br>
<font color="grey">
<center>Built By <br>
  <a href="https://github.com/PnCodeBreaker"><u>PNCodeBreaker</u></a><font color="tomato"> & </font><a href="https://github.com/Decoder6125"><u>Decoder</u></a></center>
<br><br>
</font>
<br><br>
</body>
</html>