<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/home.css">
  <link rel="icon" href="favicon.png" type="image/x-icon"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="jquery-2.1.4.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script defer src="/Javascripts/fileUpload.js"></script>
  <title>Welcome to Blogpost</title>
</head>
<body bgcolor="white">
  <div class="header">
    <div class="logo"><h3>Create post</h3></div>
   <div class="dropdown">
  <div class="head-btn"><i class="material-icons">account_circle</i></div>
  <div class="dropdown-content">
  <a href="/logout">Logout</a> <br>
  <div id="myBtn">Delete Account</div>
  </div>
</div>


  
  </div>

<div class="footer">
  <a href="/"><font color="grey"><i class="material-icons">home</i></font></a>
  <a href="#"><font color="#00bfa5"><i class="material-icons">person</i></font></a>
   <a href="#"><font color="grey">
     <div class="theme-switch-wrapper">
       <label class="theme-switch" for="checkbox">
    <input type="checkbox" id="checkbox" />
    <div class="slider round"></div>
  </label>
  </div>



   </i></font></a>
  <a href="https://github.com/PnCodeBreaker/BlogPost"><font color="grey"><i class="material-icons">error</i></font></a>
</div>

  
<br><br><br><br>


<div class="container">
<center>
 <form action="/postblog" method="POST">
                 <input type="hidden" name="id" value="<%=user._id%>" readonly required>
                 <input type="text" name="topic" placeholder="Topic" minlength="3" maxlength="100" required><br>
                 <input type="text" name="snippet" placeholder="Short description" minlength="15" maxlength="200" required><br><br>
                 <textarea class="txt" name="content" placeholder="full description...." rows="10" cols="38" minlength="20" maxlength="10000" required></textarea><br><br>
                 <input type="file" name="blogimage" class="filepond"><br><br>
                     <input type="submit" value="submit">
            </form>

<br><br>
<h3>My posts </h3></center>
<hr color="#00bfa5" size="1"><br>










  <% if(userblogs.length > 0) { %>
    <% userblogs.forEach(userblog => { %>         
  <div class="card">
    <div class="card-content1">
   <font color="#00bfa5"> <b><%=userblog.user.name%></b><br>
   </div>
   <% if(userblog.blogimagePath) { %>
    <img src=<%=userblog.blogimagePath%> height="300px" width="100%">
    <% } %>
    <div class="card-content2">
   <font color="red"><a href="/deleteblog/<%=userblog._id%>"><i class="material-icons">delete</i></a></font>
   <a href="/editblog/<%=userblog._id%>"><i class="material-icons">edit</i></a>
   <br> <b><%=userblog.likes.length%> likes | <%=userblog.createdAt%> <br></b></font><br><hr color="#00bfa5" size="1">
   <p><b><%=userblog.topic%></b></p> <br><p><%=userblog.snippet%><a href="/blog-content/<%=userblog._id%>">Read more</a></p>
   <br><br>
 </div>
</div>
  <br><br>
  <% }) %>
  <% } else { %>
    <p>There are no blogs to display...</p>
    <% } %>

</div>


<br><br><br><br><br>

<!----- BACKEND WORKS FOR DELETE ACCOUNT TO BE DONE HERE ------->
<div id="myModal" class="modal">
  <div class="modal-content">
    <br><br><br><br>
    <center>Do you really want to delete your account permanently?
      <br><br><br><br><br>
   <span class="close">No, Cancel</span><span> </span> <a href="/deleteuser/<%=user._id%>"><span class="mod">Yes, Delete</span></a>
    </center>
  </div>




</div>
<br><br><br>
<font color="grey">
<center>Built By <br>
  <a href="https://github.com/PnCodeBreaker"><u>PNCodeBreaker (Prithwish)</u></a><font color="tomato"> & </font><a href="https://github.com/Decoder6125"><u>Decoder (Debtanu)</u></a></center>
<br><br><br>
</font>


<script>
var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0]; 
btn.onclick = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>







<script>
  const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
const currentTheme = localStorage.getItem('theme');

if (currentTheme) {
    document.documentElement.setAttribute('data-theme', currentTheme);
  
    if (currentTheme === 'dark') {
        toggleSwitch.checked = true;
    }
}

function switchTheme(e) {
    if (e.target.checked) {
        document.documentElement.setAttribute('data-theme', 'dark');
        localStorage.setItem('theme', 'dark');
    }
    else {        document.documentElement.setAttribute('data-theme', 'light');
          localStorage.setItem('theme', 'light');
    }    
}

toggleSwitch.addEventListener('change', switchTheme, false);
</script>


</body>
</html>