<!DOCTYPE html>
<html>
<head>
  <script
  src="http://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script> 
   <link rel="icon" href="favicon.png" type="image/x-icon"/>
  <link rel="stylesheet" href="home.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Welcome to Blogpost</title>
</head>
<body bgcolor="white">
  <div class="header">
    <div class="logo"><h3>All blogs</h3></div>
    <% if(user) { %>
    <a href="/logout"> <div class="head-btn">Logout</div></a>




  </div>
<div class="footer">
  <a href="/"><font color="#00bfa5"><i class="material-icons">home</i></font></a>
  
  <a href="/createblog/<%=user._id%>"><font color="grey"><i class="material-icons">person</i></font></a>
   <a href="#"><font color="grey">
     <div class="theme-switch-wrapper">
       <label class="theme-switch" for="checkbox">
    <input type="checkbox" id="checkbox" />
    <div class="slider round"></div>
  </label>
  </div>



   </i></font></a>
  <a href="https://github.com/PnCodeBreaker/BlogPost"><font color="grey"><i class="material-icons">error</i></font></a>
</div>

  <div class="float-btn"><a href="/createblog/<%=user._id%>"><i class="material-icons">edit</i></a></div>
<br><br><br><br>
<% } else { %>
    <a href="/login"> <div class="head-btn">Login</div></a>
    </div>
    <div class="footer">
      <a href="/"><font color="#00bfa5"><i class="material-icons">home</i></font></a>  
    <a href="/login"><font color="grey"><i class="material-icons">person</i></font></a>
     <a href="#"><font color="grey">
     <div class="theme-switch-wrapper">
       <label class="theme-switch" for="checkbox">
    <input type="checkbox" id="checkbox" />
    <div class="slider round"></div>
  </label>
  </div>

  

   </i></font></a>
    <a href="https://github.com/PnCodeBreaker/BlogPost"><font color="grey"><i class="material-icons">error</i></font></a>
  </div>
  
    <div class="float-btn"><a href="/login"><i class="material-icons">edit</i></a></div>
  <br><br><br><br>
  <% } %>
  
<% if(blogs.length > 0) { %>
  <% blogs.forEach(blog => { %>
    <div class= "section">
<div class="container">
  <div class="card">
    <div class="card-content1">
   <font color="#00bfa5"> <b><%=blog.user.name%></b><br>
   </div>
   <% if(blog.blogimagePath) { %>
   <img loading="lazy" alt="blogimage" src=<%=blog.blogimagePath%> width="100%" height="300px">
    <% } %>
    <div class="card-content2">
   <br> <b><%=blog.likes.length%> likes  | <%=blog.createdAt%> <br></b></font><br><hr color="#00bfa5" size="1">
   <b><%=blog.topic%></b> 
   <br> 
   <%=blog.snippet%>  <a href="/blog-content/<%=blog._id%>">Read more</a>
   <br><br>
 </div>
  </div>
  </div>
</div>



  <% }) %>
  
  <% } else { %>
    <p>There are no blogs to display...</p>
    <% } %>

    <center><button class="loadmore">Load more</button></center>

<br><br><br><br>


<script>
  const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
const currentTheme = localStorage.getItem('theme');

if (currentTheme) {
    document.documentElement.setAttribute('data-theme', currentTheme);
  
    if (currentTheme === 'dark') {
        toggleSwitch.checked = true;
    }
}

function switchTheme(e) {
    if (e.target.checked) {
        document.documentElement.setAttribute('data-theme', 'dark');
        localStorage.setItem('theme', 'dark');
    }
    else {        document.documentElement.setAttribute('data-theme', 'light');
          localStorage.setItem('theme', 'light');
    }    
}

toggleSwitch.addEventListener('change', switchTheme, false);
</script>





 


  <script>
    	$(".section").slice(0,3).show();
	$(".loadmore").on("click", function(){
		$(".section:hidden").slice(0,3).show();

		if($(".section:hidden").length ==0){
			$(".loadmore").fadeOut();
		}
	});
  </script>

       








</body>
</html>